div(class="well container text-center")
    form(class="form-inline" role="form" name="addForm" novalidate)
        div(class="form-group" ng-class="{'has-error': addForm.state.$invalid}")
            label State
            input(type="text" class="form-control" ng-model="state" name="state" placeholder="Enter state" required)
            span(class="help-block" ng-show="addForm.state.$error.required") Required
        div(class="form-group" ng-class="{'has-error': addForm.city.$invalid}")
            label City
            input(type="text" class="form-control" ng-model="city" name="city" placeholder="Enter city" required)
            span(class="help-block" ng-show="addForm.city.$error.required") Required
        div(class="form-group" ng-class="{'has-error': addForm.street.$invalid}")
            label Street
            input(type="text" class="form-control" ng-model="street" name="street" placeholder="Enter street" required)
            span(class="help-block" ng-show="addForm.street.$error.required") Required
    span(class="help-block")
    button(ng-click="post()" type="submit" class="btn btn-primary" ng-disabled="addForm.$invalid") Submit