doctype html
html(ng-app="addressBook")
    head
        title JS-Course
        script(src="framework.js")
        script(src="ui-router.js")
        script(src="scripts.js")
        link(rel="stylesheet" href="bootstrap.css")
    body
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand" href="#" ui-sref="tableForm") Address Book
        div(class="row")
            div(class="span12" ui-view)
