doctype html
html
    head
        title JS-Course
        script(src='scripts.js')
    body
        div#httpTest(sg-controller="httpCtrl"): span#http(sg-bind="object.value")
        script Compiler.$compileRoot()

    


